SoccerPredictor_byRichardSzita/data/*.csv filter=lfs diff=lfs merge=lfs -text
SoccerPredictor_byRichardSzita/data/*.xlsx filter=lfs diff=lfs merge=lfs -text
SoccerPredictor_byRichardSzita/models/*.pkl filter=lfs diff=lfs merge=lfs -text

